
 




h1>The Student Form</h1> 
<%= form action Students method=POST name= "form"  id= "form"


<label>First Name </label>
<%=text_field tag = first name%>

<label>Last Name</label>
%=text_field tag = last name%>

<submit_tag="Submit"

<%end%>
