<form action='<%= students_path %>' method='POST'>
    <h2>Student Form</h2>
    <label>First Name: </label>
    <input type='text' id='first_name' name='student[first_name]'><br>

    <label>Last Name: </label>
    <input type='text' id='last_name' name='student[last_name]'><br>

    <input type='submit' value='Submit Student' id='submit'>
</form>
<%= params.inspect %>