<h3>Student Form</h3>

<%= form_tag create_student_path do %>
  <label>First name:</label><br>
<%= text_field_tag :'first_name' %><br>

  <label>Last name:</label><br>
<%= text_field_tag :'last_name' %><br>

  <input type="submit" value="Submit Student">
<% end %>