<h3>Student Form</h3>
<%= form_tag students_path do %>
  <%= text_field_tag :'student[first_name]' %><br>
  <%= text_field_tag :'student[last_name]' %><br>
  <%= submit_tag "Submit Student" %>
<% end %>