
<h2> Student Form</h2>

<%= form_tag students_path do %>
  <label>Student Name:</label> <br>

  <h2> first name <%= text_area_tag :'first_name' %>  <br>   last_name <%= text_area_tag :'last_name' %> </h2>

  <%= submit_tag "Submit Student" %>

<%end%>