<h1>Student Form</h1>

<%=form_tag students_path do%>
<label for="first_name">First Name</label>
<%=text_field_tag :'first_name'%><br>

<label for="last_name">Last Name</label>
<%=text_field_tag :'last_name'%><br>

<%=submit_tag "Submit Student"%>
<%end%>
