<form>
  <label>Student Form</label><br>
  <input type="text" id="first_name" name="first[name]"><br>
  <input type="text" id="last_name" name="last[name]"><br>
  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
