<h1>Student Form</h1>

<form action="/students" method="post">
  First Name: <input name="first_name" type="text" id="first_name">
  Last Name: <input id="last_name" name="last_name" type="text">
  Submit Student <input id="Submit Student" type="submit" value="Submit Student">
</form>