<h3>Student Form</h3>
<form>
  <label>Student name:</label><br>
  <input type="text" id="first_name" name="student[first_name]"><br>
  <input type="text" id="last_name" name="student[last_name]"><br>

  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
