<%= form_tag students_path do %>
<h3>Student Form</h3>
<label>First name:</label>
<%= text_field_tag :'first_name'%><br>

<label>Last name:</label>
<%= text_field_tag :'last_name'%><br>

<%= submit_tag "Submit Student" %>
<% end %>
