<h3>Student Form </h3>

<%= 	form_tag students_path do %>

  <input type="text" name="first_name" id="first_name">
  <input type="text" name="last_name" id="last_name">
  <input type="submit" value="Submit Student">

<% end  %>