<h3>Student Form</h3>

<form action="<%= students_path %>" method="POST">

  <input type="text" id="first_name" name="student[first_name]"><br>
  <input type="text" id="last_name" name="student[last_name]"><br>
  <input type="submit" value="Submit Student">

</form>
