<h1>Student Form</h1>
<%= form_tag new_student_path do%>
  <label>First Name:</label>
  <%= text_field_tag :'first_name'%><br>
  <br>

  <label>Last Name:</label>
  <%= text_field_tag :'last_name'%><br>
<br>
  <%= submit_tag "Submit Student"%>
<%end%>
