<form action="<%= students_path %>" method="POST">
  <label>Student Form:</label><br>

    <input type="text" id="first_name" name="student[first_name]"><br>
    <input type="text" id="last_name" name="student[last_name]"><br>

 

 
  <%= submit_tag "Submit Student" %>
