<h3>Student Form</h3>
<%= form_tag students_path do %>
  <%= text_field_tag :'student[first_name]', "", id: "first_name"%>
  <%= text_field_tag :'student[last_name]', "", id: "last_name"%>
  <%= submit_tag "Submit Student"%>
<% end %>
