<h1>Student Form</h1>
<form action="<%= students_path%>" method="POST">
    <label>First name: </label>
    <input type="text" id="first_name" name="student[first_name]"><br>

    <label>Last name: </label>
    <input type="text" id="last_name" name="student[last_name]"><br>

    <input type="submit" id="submit" value="Submit Student">
</form>