<form action="<%= students_path %>" method="POST">
  <label>Student Form</label><br>
  <input type="text" id="" name="first_name"><br>
  <input type="text" id="" name="last_name"><br>


  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
