<h1>Student Form</h1>

    <label>Student first name:</label><br>
    <%= text_field_tag :'student[first_name]' %><br>

    <label>Student last name:</label><br>
    <%= text_field_tag :'student[last_name]' %><br>

    <%= submit_tag "Submit Student" %>

<%end%>
